@import '../static/styles/variables/variables.scss';
body {
  background: linear-gradient(90deg, $bg-from, $bg-to);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  li,
  h1,
  h2,
  h3 {
    color: $brown !important;
  }
  .input-group-text {
    background-color: transparent !important;
  }
  .App {
    min-width: 400px;
  }
}