@import '../../static/styles/variables/variables.scss';
.SplitPane-left {
    background-color: $light-pink;
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: flex;
    flex-direction: column;
    section {
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-grow: 3;
        align-items: flex-start;
        >span {
            cursor: pointer;
            width: auto;
            border: none;
            color: $light-red;
            position: absolute;
            left: -2rem;
            background-color: white; //FIXME: Use a filled SVG icon instead, to remove border like rendering of the white background
            border-radius: 50%;
        }
    }
    .img-container {
        align-items: flex-end;
        img {
            width: 100%;
        }
    }
}

.SplitPane-right {
    background-color: $white;
    section {
        padding-top: 6rem;
        padding-bottom: 3rem;
        .SplitPane-right-label-container {
            background-color: $orange;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 0;
            left: 50%;
            padding: 1rem 2rem;
            p {
                font: normal 200 1rem "Courier New", Courier, monospace;
                margin: 0;
            }
        }
    }
}

.SplitPane-btn-container {
    display: flex;
    justify-content: center;
    .SplitPane-btn {
        color: $white;
        letter-spacing: 3px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8rem;
        border-radius: 5rem;
        padding: 10px 30px;
        background-color: $dark-blue;
        border-color: $dark-blue;
        &:hover,
        &:active,
        &:visited,
        &:focus {
            background-color: $dark-blue;
            border-color: $dark-blue;
        }
    }
}