@import '../../static/styles/variables/variables.scss';
.main-container {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    main {
        box-shadow: 0 4px 8px 0 $box-shadow-from, 0 6px 20px 0 $box-shadow-to;
        margin-bottom: 80px;
    }
}