$light-pink: #ffeff1;
$army-green: #00788e;
$box-shadow-from: #00000033;
$box-shadow-to: #00000030;
$brown: #78645e;
$white: #ffffff;
$red: #ff0000;
$bg-from: #ffd1dc;
$bg-to: #dae3f9;
$light-red: #ff576a;
$dark-blue: #00788e;
$blue: #2e4b9a;
$pink: #ffc0cb;
$orange: #ffbe41;