@import '../../static/styles/variables/variables.scss';
.payment-form {
    padding-right: 5rem;
    padding-left: 5rem;
    .form-container {
        margin-bottom: 10rem;
    }
    .card-icon svg {
        color: $pink !important;
    }
    .visa-icon svg {
        color: $blue !important;
    }
}